<html>
<head>
<meta charset="utf-8" >
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<script type="text/javascript" src="/js/config.js"> </script>
<script type="text/javascript" src="http://210.16.182.170:1999/ttxindasheng/load.js"> </script>

<title>个人战绩查询</title>

<script type="text/javascript" src="http://210.16.182.170:1999/ttxindasheng/common_yh/files/js/fastclick.js"></script>

<link rel="stylesheet" type="text/css" href="http://210.16.182.170:1999/ttxindasheng/common_yh/files/css/alert.css">

<style type="text/css">
.rowGame{position:relative;top: 0vw;margin-top: 0vw;left:0;width:100vw;height:35vw;overflow:hidden;}
.rowGame .item{position: absolute;width:25vw;height:33vw;text-align: center;color:#fff;opacity: 0.3}
.rowGame .item img{position: absolute;top: 1.5vw;left: 1vw;width: 20vw;height: 25vw;}
.rowGame .item .gamename{position: absolute;bottom: 1.5vw;width: 100%;text-align: center;font-size: 11pt;}
.gameScoreTitle{position:relative;top: 0vw;margin-top: 0.5vw;left:0;width:100vw;height:7vw;overflow:hidden;}
.scoreRow{position: relative;top: 0vw;margin-top:1vw;}
 
</style>
<script type="text/javascript">

    window.addEventListener('load', function() {
        FastClick.attach(document.body);
    }, false);

    var newNum = "";
    var per = window.innerWidth / 530;

    var yy_host=BaseUrl+'/'

    var vueheader={
        headers: {
            "Authorization": 'Bearer '+DynLoading.getWwid()
        },
    }
    
    var globalData = {
        "baseUrl": yy_host,
        "fileUrl": "http://210.16.182.170:1999/ttxindasheng/huanghao/",
        "gameList": eval('(' + '[{"game_type":"1","game_name":"牛牛合集","game_icon":"icon_bullx.png"},{"game_type":"4","game_name":"炸金花","game_icon":"icon_flowerx.png"},{"game_type":"5","game_name":"三公","game_icon":"icon_sangong.png"},{"game_type":"6","game_name":"二八杠","game_icon":"icon_erbagang.png"},{"game_type":"7","game_name":"斗地主","game_icon":"icon_landlord.png"},{"game_type":"8","game_name":"广东麻将","game_icon":"icon_gdmj.png"},{"game_type":"9","game_name":"鱼虾蟹","game_icon":"icon_yxx.png"},{"game_type":"10","game_name":"牌九","game_icon":"icon_paijiu.png"},{"game_type":"12","game_name":"开船牛牛","game_icon":"icon_dcx.png"},{"game_type":"13","game_name":"大吃小","game_icon":"icon_dxbull.png"}]' + ')'),
        "hallPath":'/index.html'
    };
    globalData.wid = "123"; globalData.tt = "NDRmYW1WM3NpQ3lpRkFJeGc0VVhHaDJIV05JWERbY103RGNKbXVJUzdSYXowNERkc0FBNEU=";
    var userData = {
        "accountId": "321621",
        "nickname": "FatBoy-11806",
        "avatar": "http://thirdwx.qlogo.cn/mmopen/vi_32/QkHzS8BSYE8VpNKlNt4lSOyC5qPygj9xYcuOJibFy6NhdpEic4tdvnc3No2aCt713WuFdExMaOskrn1ceDI9tJdg/132",
    };
    var configData = {
        "appId": "wxb839f0badb5597bc",
        "timestamp": "1592390939",
        "nonceStr": "e0d110dd5717ec263d4f77151458fe48",
        "signature": "73607e0dbd947d020442766fa78a413b29cc8977",
    };
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        // 通过下面这个API隐藏右上角按钮
        WeixinJSBridge.call('hideOptionMenu');
    });
</script>
</head>

<body style="margin: 0 auto; background: #1b1d22;">

    <div id="loading" style="position: fixed;width:100%;height:100%;top:0;left:0;background: #000" >
        <img src="http://210.16.182.170:1999/ttxindasheng/common_yh/files/images/common/loading.gif" style="top: 40%;position: absolute;left: 50%;margin-left: -45px;margin-top: -45px;" />
    </div>
    <div class="main" id="app-main" style="position: relative; width: 100%;margin: 0 auto;display: none;">
        <img style="position: fixed;width:12%;bottom:50px;right:20px;z-index:999" class="bottomHome" src="http://210.16.182.170:1999/ttxindasheng/common_yh/files/images/common/icon_home3.png" v-on:click="gotoHall()" /> 
    <div id="memberDiv" class="rowGame" >
            <div v-bind:style="'position: relative;z-index:1;width:' + gameItems.length * 0.215 * width + 'px;'">
                <div v-for="(item,index) in gameItems" class="item" v-bind:style="'left:' + (3+(18+3)*index) + 'vw;'" v-on:click="item.type!=='0'&&clickGame(item)" v-bind:id="'game'+item.type">
                    <img v-bind:src="item.avatar">
                    <!-- <div class="gamename">{{item.name}}</div> !-->
                </div>
            </div>
            <div class="backcolor"></div>
        </div>

        <div class="gameScoreTitle" >
            <div class="backcolor"></div>
            <div style="position: absolute;left: 5vw;font-size: 12pt;color: #e5c68a">
                房间号
            </div>
            <div style="position: absolute;width: 100%;font-size: 12pt;color: #e5c68a;text-align: center;">
                结束时间
            </div>
            <div style="position: absolute;right: 5vw;font-size: 12pt;color: #e5c68a;text-align: right;">
                当局积分
            </div>
        </div>

        <div class="scoreRow" style="overflow-y: scroll; -webkit-overflow-scrolling: touch;max-height: 80vh;">
            <div class="backcolor"></div>
            <div style="position: relative;">
                <div v-for="(item, index) in gameScoreList" class="playList" style="position: relative;width: 100%;height: 13vw;line-height: 13vw;text-align: center;color: white;overflow:hidden;" v-on:click="clickScoreItem(item)">
                    <div style="position: absolute;left: 5vw;font-size: 12pt;color: orange;text-align: left;">
                        {{item.number}}
                    </div>
                    <div style="position: absolute;width: 100%;font-size: 12pt;color: white;text-align: center;">
                        {{item.time}}
                    </div>
                    <div style="position: absolute;right: 5vw;font-size: 12pt;color: white;text-align: right;">
                        {{item.score}}
                    </div>
                </div>
                <div id="moretext" style="position: relative;margin-top: 4px;color: #39d7ff;height: 13vw;text-align: center;line-height: 13vw;font-size: 2.2vh;display: none;" v-on:click="clickMore">
                <div class="backcolor"></div>
                    点击加载更多
                </div>
            </div>
        </div>

    </div>

</body>

<script type="text/javascript" src="http://210.16.182.170:1999/ttxindasheng/common_yh/files/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="http://210.16.182.170:1999/ttxindasheng/common_yh/files/js/bscroll.min.js"></script>
<script src="http://210.16.182.170:1999/ttxindasheng/etc/js/jweixin-1.0.0.js" ></script>
<script type="text/javascript" src="http://210.16.182.170:1999/ttxindasheng/common_yh/files/js/vue.min.js" ></script>
<script type="text/javascript" src="http://210.16.182.170:1999/ttxindasheng/common_yh/files/js/vue-resource.min.js" ></script>
<script type="text/javascript" src="http://210.16.182.170:1999/ttxindasheng/etc/js/roomListPlay.js"></script>
<script type="text/javascript">
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        // 通过下面这个API隐藏右上角按钮
        WeixinJSBridge.call('hideOptionMenu');
    });
</script>
<script>
    $(document).on('click', 'img', function(e){
        e.preventDefault();
    })
</script>

</html>
